{%extends 'template.html'%}
{%block content%}
<div id="all-content" class="space-y-4 pt-12">
    <style>
        pre {
            white-space: pre-wrap;       /* CSS 3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    </style>
    <content id="content-base" class="space-y-4">
        <div class="bg-gray-100 p-6">
            <h1 class="font-bold">Log Error:</h1>
            <pre>{{ log_content }}</pre>
        </div>
    </content>

</div>
{%endblock%}